.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 84px;
  }
 
  
  .image-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }



  .bodycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .product-name {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .credit {
    font-size: 14px;
    color: #808080;
    margin-top: 5px;
  }


  
  h1{
    font-size: 36px;
        color: #333;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
      }